* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

#header_box {
    width: 60%;
    display: flex;

    #logo_box {
        width: 30%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #list_box {
        width: 70%;
        display: flex;
        align-items: center;

        ul {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            li {
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                position: relative;
                padding: 3.75rem 0;

                &:hover::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: blue;
                }

                &:hover {
                    font-size: 15px;
                }
            }

        }
    }
}

main {
    background-color: green;

    #content_box {
        width: 60%;
    }

    #icon_box {
        width: 60%;
    }
}