* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 0, 0),
}

#header_box {
    padding: 1rem 0;
    width: 60%;
    display: flex;

    #logo_box {
        width: 30%;

        img {
            max-width: 50%;
        }
    }

    #list_box {
        width: 70%;
        display: flex;
        align-items: center;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            list-style: none;

            li {
                padding: 2rem 0;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;

                &:hover {
                    border-bottom: solid 2px blue;
                    font-size: 15px;
                }
            }

        }
    }
}

main {
    background-color: green;

    #content_box {
        width: 60%;
    }

    #icon_box {
        width: 60%;
    }
}