* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

#header_box {
    width: 60%;
    display: flex;

    #logo_box {
        width: 30%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #list_box {
        width: 70%;
        display: flex;
        align-items: center;

        ul {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            li {
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                position: relative;
                padding: 3.75rem 0;

                &:hover::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: #0282f9;
                }

                &:hover {
                    font-size: 15px;
                }
            }

        }
    }
}

#content_container {
    min-height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    #content_box {
        width: 60%;

        h1 {
            color: white;
        }
    }
}

#icons_container {
    min-height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;

    #icons_box {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .icon {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            img {
                max-width: 20%;
            }

            p {
                color: white;
                font-size: 12px;
            }
        }
    }
}

#main_footer {
    /* min-height: 500px; */
    background-image: url("img/footer-bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;

    #container_main_footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;

        #link_box {
            width: 50%;
            display: flex;
            align-items: baseline;
            gap: 2rem;

            li,
            p {
                color: white;
            }

            li {
                font-size: bold;
                font-size: 12px;
                color: grey;
                list-style: none;
                padding-bottom: 0.5rem;
            }

            p {
                padding-bottom: 1rem;
                font-size: 20px;
            }
        }

        #logo_box {
            width: 50%;

            img {
                width: 80%;
            }
        }
    }


}

#second_footer {
    background-color: #303030;
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    #container_second_footer {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #left_second {
            width: 50%;

            #btn {
                background-color: transparent;
                color: white;
                padding: 0.5rem;
                border: solid 3px blue;
            }

        }

        #rigth_second {
            width: 50%;
            display: flex;
            justify-content: end;
            align-items: center;

            p {
                color: blue;
                padding: 1rem;
                font-size: 18px;
                font-weight: bold;
            }

            img {
                margin-left: 1rem;
            }
        }
    }
}